<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Breakfast</ion-card-subtitle>
      <ion-card-title>{{this.breakfast.title}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Lunch</ion-card-subtitle>
      <ion-card-title>{{this.lunch.title}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Dinner</ion-card-subtitle>
      <ion-card-title>{{this.dinner.title}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
